/*------------------------------ helper classes*/

.testframe {
    border: 2px solid red;
}

.vhalign {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.halign {
    display: flex;
    justify-content: center;
}



/*------------------------------ general adaptations*/

section {
    padding-top: 120px;
}

.row-content{
     height: 350px;
}

.row-footer    {
    height: 100px;
}

.min-height {
    height: 300px;
}


/*------------------------------ color definitions*/

body {
    background: -webkit-linear-gradient(45deg, rgba(0, 46, 75, 1) 0.14%, rgba(0, 81, 114, 1) 99.61%);
    background-size: 500% 500%;
    -webkit-animation: Bgr-body 12s ease infinite;
    height: 100vh;
}

.bg-color {

    background: -webkit-linear-gradient(45deg, rgba(0, 46, 75, 1) 0.14%, rgba(0, 81, 114, 1) 99.61%);
    background-size: 500% 500%;
    -webkit-animation: Bgr-body 12s ease infinite;
}


/*------------------------------------------ fonts*/

.bannerfont {
    /*--------------------- bannerfont*/
    font-family: 'monoton', sans-serif;
    line-height: 0.95em;
    font-size: 4em;
    font-weight: 900;
    background: linear-gradient(rgba(250, 46, 75, 0.9), rgba(0, 129, 182, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -5px;
}

.mirrored {
    /*---------- bannerfont*/
    font-family: 'monoton', sans-serif;
    line-height: 0.95em;
    font-size: 4em;
    font-weight: 900;
    background: linear-gradient(rgba(250, 46, 75, 0.3), rgba(0, 129, 182, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: rotateX(180deg);
    margin-top: -5px;
}

.headline {
    background-color: grey;
    border-radius: 4px;
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 35px;
    padding: 0;
    margin-bottom: 10px;
}


#abouttextfont {
    font-family: "Orbitron", sans-serif;
    color: beige;
    font-size: 14px;
    font-weight: 100;


}


.footerfont {

    font-family: "Fredoka One", sans-serif;
    font-size: 14px;
    font-weight: 100;
}

h2 {
    font-family: "Fredoka One", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: lightgreen;

}



a button {
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    padding-top: 4px;
    text-align: center;


}


.menulistitem .hyperlinks {
    font-family: "Alfa Slab One", sans serif;
    font-size: 14px;
    font-weight: 100;
}



/*------------------------------ welcomepage*/

.welcomeframe {
    height: 70vh;

}

.portrait {
    background: url(../images/stage2.jpg);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid grey;
    background-size: 175px 219px;
    background-color: rgba(0, 46, 75, 0.8);
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;


}

.button-container button {
    background: none;
    border-radius: 10px;
    border: 1px solid beige;
    color: grey;
    width: 80px;
    height: 28px;
    animation: pulse 8s infinite ease-in-out;
    transition: color .8s ease-in-out;

}

.button-container {

    width: 80%;
    display: flex;
    justify-content: center;
}


.hyperlinks:hover button {
    color: red;
}


/*------------------------------------------ banner*/

.banner-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border: 0px solid lightgreen;
    border-radius: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.letterbox {
    width: 400px;
    height: 110px;
    border: 0px solid red;
    display: flex;
    justify-content: center;
}

.list {
    padding: 0;
    margin: 0;
    opacity: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeup 2s 1s 1 forwards;
}

.listitems {
    padding: 0;
    margin: 0;
    border: 0px solid green;
    position: absolute;
}

.letterC,
.letterH,
.letterR,
.letterN,
.letterI,
.letterX,
.letterX2 {
    opacity: 0;
}


.letterC {
    animation: letterCmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterH {
    animation: letterHmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterR {
    animation: letterRmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterO {
    animation: letterOmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterN {
    animation: letterNmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterI {
    animation: letterImove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterX {
    animation: letterXmove 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

.letterX2 {
    animation: letterX2move 4s cubic-bezier(0.8, 0, 0.2, 1) 2s alternate 3 forwards;
}

/*------------------------------------------ keyframes*/

@-webkit-keyframes Bgr-body {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes fadeup {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    60% {
        filter: blur(0px);
    }
    61% {
        filter: blur(1px);
    }
    62% {
        filter: blur(2px);
    }
    63% {
        filter: blur(1px);
    }
    64% {
        filter: blur(0px);
    }
    65% {
        filter: blur(0px);
    }
    66% {
        filter: blur(1px);
    }
    67% {
        filter: blur(2px);
    }
    68% {
        filter: blur(1px);
    }
    69% {
        filter: blur(0px);
    }
    70% {
        filter: blur(0px);
    }
    71% {
        filter: blur(1px);
    }
    72% {
        filter: blur(2px);
    }
    73% {
        filter: blur(1px);
    }
    74% {
        filter: blur(0px);
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes pulse {
    0% {
        border-color: beige;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: beige;
    }
}

@keyframes letterCmove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(-150px);
    }
}

@keyframes letterHmove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(-100px);
    }
}

@keyframes letterRmove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(-50px);
    }
}

@keyframes letterOmove {
    0% {}
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes letterNmove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(50px);
    }
}

@keyframes letterImove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(85px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(85px);
    }
}

@keyframes letterXmove {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(120px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(120px);
    }
}

@keyframes letterX2move {
    0% {
        transform: translateX(0px);
    }
    50% {
        opacity: 1.0;
        transform: translateX(160px);
    }
    100% {
        opacity: 1.0;
        transform: translateX(160px);
    }
}

@keyframes dates1 {
    0% {
        opacity: 0.0;
        filter: blur(2px);
    }
    7% {
        opacity: 1.0;
        filter: blur(0px);
    }
    40% {
        opacity: 1.0;
        filter: blur(0px)
    }
    43% {
        opacity: 1.0;
        filter: blur(1px);
    }
    50% {
        opacity: 0;
        filter: blur(2px);
    }
    100% {
        opacity: 0;
        filter: blur(2px);
    }
}

@keyframes dates2 {
    0% {
        opacity: 0.0;
        filter: blur(2px);
    }
    50% {
        opacity: 0.0;
        filter: blur(2px);
    }
    57% {
        opacity: 1.0;
        filter: blur(0px);
    }
    90% {
        opacity: 1.0;
        filter: blur(0px);
    }
    93% {
        opacity: 1.0;
        filter: blur(1px);
    }
    100% {
        opacity: 0;
        filter: blur(2px);
    }
}

/*------------------------------------------ headerbar*/

.headerbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 70px;
}

.menucontainer {
    width: 100%;
}

.header-container {
    width: 100%;
}

.menulist {
    padding: 0;
}

.menulistitem {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid grey;
    border-radius: 20px;
}

#active-page {
    color: red;
}

.menulistitem .hyperlinks {
    color: beige;
    text-decoration: none;
    transition: color .6s ease-in-out;
}



.menulistitem:hover .hyperlinks {
    color: red;
}

.beam {

    padding: 0px;
    height: 1px;
    border-radius: 0px 2px 2px 0px;
    color: #fff;
    /*background: linear-gradient(-45deg, #EE7752, #e6f2ff, #23A6D5, #23D5AB);
	background:repeating-linear-gradient(91deg, rgba(64,174,208,1) 0.00%, rgba(178,232,249,1) 40.57%, rgba(40,162,244,1) 99.96% );
	background:linear-gradient(90deg, rgba(42,205,255,1) 47.05%, rgba(231,249,255,1) 54.00%, rgba(42,205,255,1) 61.44% );*/
    background: linear-gradient(90deg, rgba(26, 178, 225, 1) 47.05%, rgba(231, 249, 255, 1) 54.00%, rgba(26, 178, 225, 1) 61.44%);
    background-size: 300% 300%;
    animation: Bgr-body 15s ease infinite alternate;
}


/*------------------------------------------ footer*/

.socialpanel {
    padding: 0px;
}

.socialicons {
    list-style: none;
    display: inline-block;
    padding: 4px;
}

.sociallinks i {

    width: 30px;
    height: 30px;
    background-color: lightgrey;
    color: #008ae6;
    border-radius: 50%;
    transition: color 0.35s ease-in-out;
}

.sociallinks i:hover {

    color: lightgreen;
    text-decoration: none;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks a:hover {}

.footer-container {
    display: block;

}


/*------------------------------------------ aboutpage*/

.about-pictureleft {

    width: 80%;
    max-width: 300px;
    border: 1px solid darkred;
    border-radius: 8px;
    height: 300px;
    background: url(../images/about-pictureleft.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 800px 1000px;
    background-color: rgba(52, 57, 63, 0.4);
    background-blend-mode: multiply;
}




.about-pictureright {

    width: 80%;
    max-width: 300px;
    border: 1px solid darkred;
    border-radius: 8px;
    height: 300px;
    background: url(../images/about-pictureright.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 800px 1000px;
    background-color: rgba(52, 57, 63, 0.4);
    background-blend-mode: multiply;
}


.aboutsection-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 300px;
    background-color: rgba(180, 180, 180, 0.2);
    border: 1px solid darkred;
    border-radius: 8px;
    height: 300px;
    padding-bottom: 20px;
    background: url(../images/about-pictureright.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 800px 1000px;
    background-color: rgba(52, 57, 63, 0.4);
    background-blend-mode: multiply;
}


.abouttext {
    width: 200px;
    height: 200px;
    overflow: auto;
    padding: 0;
    
}


/*------------------------------------------ tour*/

.toursection-content {

    width: 80%;
    max-width: 300px;
    border: 1px solid darkred;
    border-radius: 8px;
    height: 300px;
    background: url(../images/stage2.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 800px 1000px;
    background-color: rgba(52, 57, 63, 0.4);
    background-blend-mode: multiply;
}


.datescontainer {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    color: beige;
    display: block;



}

#datesindex {

    color: lightblue;
    font-size: 10px;
    border-radius: 4px;
    background-color: grey;
    width: 15px;
    height: 15px;
    padding: 2px;
}

.datesbox {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dates1 {
    position: absolute;
    width: 200px;
    animation: dates1 12s infinite linear;
}

.dates2 {
    position: absolute;
    width: 200px;
    animation: dates2 12s infinite linear;
}

.tourdates {
    padding: 0;
    width: 140px;
}

.stations {
    list-style: none;
    padding: 0;
    font-family: "Exo", sans-serif;
}




/*------------------------------------------ contact page*/

/*------------------------------------------ concerts page*/

/*------------------------------------------ experimental*/

.testdiv {
    background-color: beige;
    height: 400px;
    width: 400px;
}
